<% include ../partials/header %>

<div class="container">
    <div class="card mt-5">
        <div class="card-header text-center">
            Edit Comment
        </div>
        <div class="card-body">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <textarea class="form-control" type="text" rows="3" name="comment[text]"> <%= comment.text %> </textarea>
                </div>
                <div class="btn-group d-flex justify-content-end" role="group" aria-label="edit buttons">
                    <div class="inline btn-group">
                        <button class="btn btn-xs btn-primary py-1">Submit</button>
                    </div>
                    <div class="inline btn-group">
                        <a class="btn btn-xs btn-warning py-1" href="/campgrounds/<%= campground_id %>">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>